.border-animation{
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.border-animation::after{
    content: " ";
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle),transparent 70%,blue,red);
    opacity: 1;
    animation: 4s spin linear infinite;
}
.border-animation::before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle), transparent 70%,blue,red);
    opacity: .5;
     padding: 3px;
     animation: 4s spin linear infinite;
    filter: blur(20px);
} 

@keyframes spin{
    from{
        --angle : 0deg
    }to{
        --angle : 360deg
    }
}